/* For smallest Devices, like Smartphones */

/* Contains mostly Widths and other Size, 
 * as general, global Aspects of the Layout are
 * handeld within the style.css
*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html, body, textarea {
	font-size:16px;	
}


/*--------------------------------------------------------------
# Genral Layout
--------------------------------------------------------------*/

.site-content {
	margin-left:20px;
	margin-right:20px;
}

.posts-navigation .nav-previous,
.posts-navigation .nav-next {
	text-align: center;

}

hr:before{
	top: -10px;
	left: 42%;
}

    

/*--------------------------------------------------------------
# Teasers
--------------------------------------------------------------*/

.teaser-big {
	margin-bottom:3em;
}

.teaser h2 {
	margin-bottom:0.5em;
	font-size:20px;
}

.teaser .thumbnail {
	float:right;
	margin-left: 20px;
	max-width:37%;
}

.teaser time {
	display:none;
}

.teaser .entry-date {
	display:inline;
}

.teaser .thumbnail img{
	border:1px solid gray;
}

.teaser .entry-meta-item {
	display:none;
}


/*--------------------------------------------------------------
# Teaser Big
--------------------------------------------------------------*/

.teaser-big .teaser-text {
	min-height:100px; 
}

/*--------------------------------------------------------------
# Teaser Big
--------------------------------------------------------------*/

.teaser-illustrated .thumbnail {
	max-width:100%;
}


/*--------------------------------------------------------------
# Singulars
--------------------------------------------------------------*/

.singular .byline {
	margin-bottom: 1em;
}

.singular .entry-title{
	max-width: 17.8em;
	margin-left:auto;
	margin-right:auto;
}

.singular .content-full .entry-content{
	max-width: 26.5em;
	margin:auto;
}

.single-format-image .content-full .entry-content {
	max-width: 100%;
	margin-left:0px;
}

.singular .comment-list {
	max-width: 26.5em;
	margin:auto;
	padding-left:0px;
}

.singular .content-full .entry-content h2, 
.singular .content-full .entry-content h3,
.singular .content-full .entry-content h4, 
.singular .content-full .entry-content h5 {
	margin-top: 4em;
}

.singular .content-full .entry-content h3 {
	font-size: 140%;
}

.singular .content-full .entry-content h4 {
	font-size: 130%;
}


/*--------------------------------------------------------------
# Repeating Visual Patterns 
--------------------------------------------------------------*/

.pause {
	margin-top: 5em !important;
}




/*--------------------------------------------------------------
# Mosaic
--------------------------------------------------------------*/

.mosaic {
	max-width: 346px;
	text-align: center;
	margin:auto;
}

.mosaic > * {
	width:45%;
	height:auto;
	overflow:hidden;
	display:block;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}

.mosaic > *:nth-child(2n+2) {
	margin-right:0px;	
}

.mosaic img {
	
}


.teaser-mosaic img {
	border:1px solid #808080;
    max-width:98%;
}

