<<<<<<< HEAD
/* For smallest Devices, like Smartphones */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html, body, textarea {
	font-size:16px;	
}


/*--------------------------------------------------------------
# Genral Layout
--------------------------------------------------------------*/

.site-content {
	margin-left:20px;
	margin-right:20px;
}


/*--------------------------------------------------------------
# Teasers
--------------------------------------------------------------*/

.teaser-big {
	margin-bottom:3em;
}

.teaser h2 {
	margin-bottom:0.5em;
	font-size:20px;
}

.teaser .thumbnail {
	float:left;
	margin-right: 20px;
	max-width:33%;
}

.teaser time {
	display:none;
}

.teaser .entry-date {
	display:inline;
}

.teaser .thumbnail img{
	border:1px solid gray;
}


/*--------------------------------------------------------------
# Teaser Big
--------------------------------------------------------------*/

.teaser-big .teaser-text {
	min-height:130px; 
}


/*--------------------------------------------------------------
# Singulars
--------------------------------------------------------------*/





=======
html, body, textarea {
	font:16px/1.45 Georgia, serif;	
	line-height: 145%;		
}

img {max-width:100%;}

#teasermosaic a {
	width:48%;
	margin-right:4%;
	margin-bottom:2%;
}

#teasermosaic a:nth-child(6n+6) {
    margin-right: 4%;
}

#teasermosaic a:nth-child(4n+4) {
    margin-right: 4%;
}

#teasermosaic a:nth-child(2n+2) {
    margin-right: 0%;
}
>>>>>>> 90c65fffaeb1b02dd5d2526d1fb0a6c8ec93e557
