/* For Medium Sized Devices, like Tablet */ 

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html, body, textarea {
	font-size:20px;	
}

.teaser h2 {
	margin-bottom:0.5em;
	font-size:26px;
}



/*--------------------------------------------------------------
# Repeating Visual Patterns 
--------------------------------------------------------------*/


hr:before{
	left: 45%;
}


/*--------------------------------------------------------------
# Mosaic
--------------------------------------------------------------*/

/* Only 4x Boxes á 3 Columns fit here */

.mosaic {
	max-width: 712px;
	margin:auto;
}

.mosaic > *:nth-child(2n+2) {
	margin-right:20px;	
}

.mosaic > *:nth-child(3n+3) {
	margin-right:20px;	
}

.mosaic > *:nth-child(4n+4) {
	margin-right:0px;	
}

.mosaic img {
	
}
