/* For Medium Sized Devices, like Tablet */ 

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html, body, textarea {
	font-size:20px;	
}

.teaser h2 {
	margin-bottom:0.5em;
	font-size:26px;
}


/*--------------------------------------------------------------
# Genral Layout
--------------------------------------------------------------*/


.posts-navigation .nav-previous {
	float:left;
}

.posts-navigation .nav-next {
	float:right;
}

/*--------------------------------------------------------------
# Repeating Visual Patterns 
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Mosaic
--------------------------------------------------------------*/


.mosaic > *:nth-child(2n+2) {
	margin-right:20px;	
}

.mosaic > *:nth-child(3n+3) {
	margin-right:0px;	
}

.mosaic img {
	width:95%;	
}
