/* For small Devices, like Smartphones */



/*--------------------------------------------------------------
# Genral Layout
--------------------------------------------------------------*/


.site-content {
	margin-left:20px;
	margin-right:20px;
}

.posts-navigation .nav-previous {
	float:left;
}

.posts-navigation .nav-next {
	float:right;
}






/*--------------------------------------------------------------
# Repeating Visual Patterns 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Mosaic
--------------------------------------------------------------*/

