/* For maximum sized Devices, like Desktops and Television */


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html, body, textarea {
	font-size:18px;	
}


/*--------------------------------------------------------------
# Genral Layout
--------------------------------------------------------------*/


body {

}

.site {
	width:1120px;
	border:1px solid black;
	margin-top:20px;
}





/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.page-header {
	margin-left:20px;
	margin-right:20px;
}



/*--------------------------------------------------------------
# Teasers
--------------------------------------------------------------*/

.teaser h2 {
	margin-bottom:0.5em;

}

.rainbow-warrior .teaser {
	padding-bottom:0px;
	border-bottom:0px solid white;
	/*padding-left:20px;*/
	/*border-left:5px solid black;*/
}

/*

.rainbow-warrior > *:nth-child(10n+1)  {
	border-color:purple;
}

.rainbow-warrior > *:nth-child(10n+2)  {
	border-color:DarkViolet;
}


.rainbow-warrior > *:nth-child(10n+3)  {
	border-color:blue;
}

.rainbow-warrior > *:nth-child(10n+4)  {
	border-color:deepskyblue;
}

.rainbow-warrior > *:nth-child(10n+5)  {
	border-color:darkcyan;
}

.rainbow-warrior > *:nth-child(10n+6)  {
	border-color:green;
}

.rainbow-warrior > *:nth-child(10n+7)  {
	border-color:#f0cb02;
}

.rainbow-warrior > *:nth-child(10n+8)  {
	border-color:orange;
}

.rainbow-warrior > *:nth-child(10n+9)  {
	border-color:red;
}

.rainbow-warrior > *:nth-child(10n+10) {
	border-color:firebrick;
}

*/

/*--------------------------------------------------------------
# teaser-big
--------------------------------------------------------------*/


.teaser-big {
	clear:both;
	width:712px;
	margin-bottom:4em;
	margin-left:183px;
	min-height:210px;
}

.teaser-big .teaserimage {
	float:left;
	margin-right:20px;
}

.teaser-big .teaserimage img {
	border:1px solid lightgray;
}

.teaser-big .entry-title {
	margin-bottom: 0.5em;
}

.teaser-big .teaser-text {
	min-height:100px; 
}

.teaser-big.has-post-thumbnail .teaser-text {
	margin-left:184px;
}

.teaser-big .entry-meta-item {
	
}

.teaser-big.has-post-thumbnail .entry-meta-item {
	margin-left:184px;
}

.read-status {
	padding-left:0px;
	position: absolute;
	left:153px;
	display: inline;
}

.read-status a {
	
}

.read-status a .dashicons {
	border-radius: 50px;
	margin-top: 8px;
	margin-left: 4px;
	font-size: 17px;
	border: 2px solid;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	color:white;
	border-color: white;
	width: 17px;
	height: 17px;
}

.read-status a .dashicons:before{
	width: 18px;
	height: 17px;
}

.read-status a:visited .dashicons {
	background-color: lightgray;
}


.read-status a:link .dashicons {
	color:white;
	background-color: white;
}

.read-status a:hover {
	text-decoration:none;
}


/*--------------------------------------------------------------
# Archives
--------------------------------------------------------------*/

.page-header {
	margin-bottom: 2em;
}

.module-archive-navigation {
	margin-bottom: 0.2em;
}

.module-archive-navigation .year {
	display:inline-block;
	width:3em;
	text-align: center;
}

.module-archive-navigation-daily {
	font-size:19px;
}

.taxonomy-description {
	width: 529px;
	margin-left: 184px;
	padding-left:0;
}

/*--------------------------------------------------------------
# Singulars, Single, Post, Pages
--------------------------------------------------------------*/


.singular .content-full .entry-content,
.singular .content-full .entry-title,
.singular .comment-list, 
.singular .comment-respond {
	width: 529px;
	max-width:529px;
	margin-left: 184px;
	padding-left:0;
}

.singular .content-full .entry-content {
	min-height:300px;
	margin-bottom:3em;
}

.single-format-image .content-full .entry-content {
	width:1078px;
	max-width: 1078px;
	margin-left:0px;
}

.single-format-image .content-full .entry-content img{


}

.singular .content-full .teaserimage {
	float:right;
	max-width: 286px;	
    position: absolute;
    top: 60px;
    right: 20px;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {	
	margin-left: -184px;
}

.alignright {
	margin-right: -368px;
}


/*--------------------------------------------------------------
##  Marginalia
--------------------------------------------------------------*/


.singular .content-full .marginalia {
	margin-left:-184px;
	float:left;
	clear:left;
	width:164px;
}

.singular .content-full .marginalia img {
	max-width: 163px;
}


/*--------------------------------------------------------------
## Apostille
--------------------------------------------------------------*/


.singular .content-full .apostille {
	position:absolute;
	left:813px;	
	max-width:286px;
}

.singular .content-full .apostille img {
	max-width:286px;
}

 


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment,
.pingback {
	margin-bottom:5em;
}


.comment-meta {
	position: absolute;
	margin-left:549px;
	width:348px;
}


/*--------------------------------------------------------------
# Repeating Visual Patterns 
--------------------------------------------------------------*/

/* These Globally usable Layoutboxes need the full width and have to be moved out out the running text column */

.entry-content .broadside,
.entry-content .topics,
.entry-content .troika,
.entry-content .mosaic {    
	margin-left:-184px;
	width:1078px;	
}

/*--------------------------------------------------------------
## broadside
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Topics
--------------------------------------------------------------*/

.content-full .entry-content .topics {
	margin-left:-184px;
}

.topics > * {
	max-width:529px;
	float:left;
}


/*--------------------------------------------------------------
## Troika
--------------------------------------------------------------*/

.troika {

}

.troika > * {
	max-width:346px;
	float:left;
}

.troika img {
	max-width:346px;
	
}


/*--------------------------------------------------------------
## Mosaic
--------------------------------------------------------------*/

.mosaic {
	max-width: 1078px;
	margin:auto;
}

.mosaic > *:nth-child(2n+2) {
	margin-right:20px;	
}

.mosaic > *:nth-child(3n+3) {
	margin-right:20px;	
}

.mosaic > *:nth-child(4n+4) {
	margin-right:20px;	
}

.mosaic > *:nth-child(6n+6) {
	margin-right:0px;	
}

.mosaic img {
	
}




.show-grid .site { background: url("http://anmutunddemut.de/wp-content/themes/ada/demo/grid.jpg") repeat scroll 0 0 transparent; }*/